@import "variables" ,"mixins";
/* Start Carrito de Compras*/

.carrito i{
    color: $rosa-oscuro;
    margin-top: 1px;
    margin-left: 3rem;
    font-size: 20px;
}

.carrito i:hover{
    color: $gris-oscuro;
}

    @media (max-width: 460px){
    .carrito{
        margin-left: -50px;
    }
    .carrito i:hover{
        color: $gris-oscuro;
    }

}

@media (max-width: 960px){
    .carrito{
        margin-left: -20px;
    }

}



/* Finish Carrito de Compras*/