@import "variables" ,"mixins";
/*Start Logo*/

.logo{
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    height: auto;
}

.contenedor-logo img{
    position: relative;
    top: 0;
    left: 0;
    z-index: 5;
    width: 12rem;
    margin-top: 20%;
    margin-left: 8%;
    @media (max-width: 490px){
        margin-top: 0;
        margin-left: -20px;
        padding: 30px;
    }
    
    @media (max-width: 880px){
        width: 15rem;
    }
    
    @media (max-width: 996px){
        width: 13rem;
    }
    
}

.contenedor-logo img:hover{
    transform: scale(0.9);
    transition: 0.8s;
}
/*Finish Logo*/

/*Start circulo*/
.circulo-header{
    position: absolute;
    z-index: -1;
    margin-top: -4rem;
    margin-left: -5rem;
}

.circulo-header img{
    @media (max-width: 480px){
        margin-top: 0;
        margin-left: 0;
        width: 18rem;
    }

}

/*Finish circulo*/