@import "variables" ,"mixins";
/* Start Menu*/

.menu{
  display: flex;

}
  .nav {
    display: flex;
    max-width: 100vh;
    height: 10px;
    padding: 30px;
    margin: 10px auto;
   
  }
  
  .nav-link {
    color: $gris-oscuro;
    text-decoration: none;
  }
  
  
  .nav-menu {
    display: flex;
    list-style: none;
    margin-left: 1rem;

   
    
  }

 
  .nav-menu-item {
    font-size: 18px;
    margin: 0 0;
    font-weight: 300;
    @media (max-width: 300px){
      font-size: 12px;

    }
    
  }


  .nav-menu-item a{
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .5s;
    &:hover, &:focus{
      background-size: 100% 2px;
    }
  }
  
  .nav-menu-link {
    padding: 8px 12px;
    border-radius: 1px;

    
  }
  
  .nav-menu-link:hover,
  .nav-menu-link_active {
    color: $rosa-oscuro;
    transition: 0.5s;
    transform: scale(1.2);
  }
  
  /* TOGGLE */
  .nav-toggle {
    color: $rosa-oscuro;
    background: none;
    border: none;
    font-size: 15px;
    padding: 0 20rem;
    margin-top: -7rem;
    line-height: 60px;
    cursor: pointer;
    display: none;
    @media (max-width: 850px){
      padding: 0 34rem;
      margin-top: -1.5rem;
    }

    @media (max-width: 768px){
      padding: 0 18rem;
      margin-top: -3rem;
    }
    @media (max-width: 480px){
      padding: 0 10rem;
      margin-top: -3rem;
    }
    @media (max-width: 300px){
      padding: 0 1rem;
      margin-top: -3rem;
      position: absolute;
    }
   
  }

  
  /* MOBILE */
  
    .nav-menu {
      @media (max-width: 850px){
      flex-direction: column;
      align-items: 20px;
      margin-left: 12rem;
      background-color: $blanco;
      z-index: 10;
      position:fixed;
      top: 50px;
      width: 100vw;
      opacity: 0.9;
      height: auto;
  
      height: calc(100% - 60px);
      overflow-Y: auto;
  
      left: 100%;
      transition: left 1s;
    }
    @media (max-width: 300px){
      margin-left: 0;
      width: 100vw;
      top: 30px;

    }
      
    }
    .nav-menu-item {
      @media (max-width: 850px){
      line-height: 70px;
      opacity: 100%;
    }
    }

    .nav-menu-link{
      @media (max-width: 850px){
      font-weight: 500;
    }
    }

 
    .nav-menu-link:hover,
    .nav-menu-link_active {
      @media (max-width: 850px){
        background: none;
      }
      
    }
  
    .nav-toggle {
      @media (max-width: 850px){
      display: block;
    }
    }
  
    .nav-menu_visible {
      @media (max-width: 850px){
        left: 0;
      }
      
    }
  
    .nav-toggle:focus:not(:focus-visible) {
      @media (max-width: 850px){
        outline: none;
      }
      
    }
  

    

  


  
/* Finish Menu*/