@import "variables" ,"mixins";

/* Start Contenido Nosotros */

.contenidoNos .sup{
    position: absolute;
    background-color: $rosa-claro;
    margin-left: 15rem;
    margin-top: 10rem;
    width: 25rem;
    height: 20rem;
    box-shadow: 20px -20px 1px $rosa-oscuro;
    @media (max-width: 1026px){
        margin-left: 8rem;
        margin-top: 1rem;
    }
    
    @media (max-width: 850px){
    }
    
    @media (max-width: 768px){
        margin-left: 2rem;
        margin-top: 1rem;
        width: 20rem;
        height: 15rem;
    }
    
    
    @media (max-width: 480px){
        margin-left: 1rem;
        margin-top: 1rem;
        width: 15rem;
        height: 10rem;
    }
    
    @media (max-width: 300px){
        margin-left: 1rem;
        margin-top: 1rem;
        width: 12rem;
        height: 10rem;
    }
}

.contenidoNos h2{
    color: $gris-oscuro;
    text-align: center;
    font-weight: 500;
    margin-top: 7rem;
    @media (max-width: 768px){
        margin-top: 3rem;
    }
    @media (max-width: 450px){
        font-weight: 300;
        margin-top: 2rem;
        font-size: 18px;
    }
}

.contenidoNos p{
    text-align: center;
    color: $gris-oscuro;
    margin-top: 2rem;
    @media (max-width: 450px){
        margin-top: 1rem;
        font-size: 12px;
    }
}



.contenidoNos2 .sup{
    position: absolute;
    background-color: $rosa-claro;
    margin-left: 50rem;
    margin-top: 30rem;
    width: 25rem;
    height: 20rem;
    box-shadow: -20px -20px 1px $rosa-oscuro;

    @media (max-width: 1026px){
        margin-left: 30rem;
        margin-top: 25rem;
    }
    
    @media (max-width: 850px){
        margin-left: 20rem;
    }
    
    @media (max-width: 768px){
        margin-left: 9.5rem;
        margin-top: 20rem;
        width: 20rem;
        height: 15rem;
    }
    
    
    @media (max-width: 480px){
        margin-left: 9.5rem;
        margin-top: 15rem;
        width: 15rem;
        height: 10rem;
    }
    
    @media (max-width: 300px){
        width: 12rem;
        height: 10rem;
        margin-left: 4rem;
        margin-top: 15rem;
    }
}

.contenidoNos2 h2{
    color: $gris-oscuro;
    text-align: center;
    font-weight: 500;
    margin-top: 7rem;
    @media (max-width: 768px){
        margin-top: 4rem;
    }

    @media (max-width: 450px){
        font-weight: 300;
        margin-top: 2rem;
        font-size: 18px;
    }
}

.contenidoNos2 p{
    text-align: center;
    color: $gris-oscuro;
    margin-top: 2rem;
    @media (max-width: 450px){
        margin-top: 1rem;
        font-size: 12px;
    }
}



.contenidoNos3 .sup{
    position: absolute;
    background-color: $rosa-claro;
    margin-left: 15rem;
    margin-top: 50rem;
    width: 25rem;
    height: 20rem;
    box-shadow: 20px 20px 1px $rosa-oscuro;
    @media (max-width: 1026px){
        margin-left: 8rem;
        margin-top: 50rem;
    }
    
    @media (max-width: 850px){
    }
    
    @media (max-width: 768px){
        margin-left: 2rem;
        margin-top: 38rem;
        width: 20rem;
        height: 15rem;
    }
    
    
    @media (max-width: 480px){
        margin-left: 1rem;
        margin-top: 28rem;
        width: 15rem;
        height: 10rem;
    }
    
    @media (max-width: 300px){
        margin-left: 1rem;
        margin-top: 28rem;
        width: 12rem;
        height: 10rem;
        
    }
}

.contenidoNos3 h2{
    color: $gris-oscuro;
    text-align: center;
    font-weight: 500;
    margin-top: 7rem;
    @media (max-width: 768px){
        margin-top: 4rem;
    }
    @media (max-width: 450px){
        font-weight: 300;
        margin-top: 2rem;
        font-size: 18px;
    }
}

.contenidoNos3 p{
    text-align: center;
    color: $gris-oscuro;
    margin-top: 2rem;
    @media (max-width: 450px){
        margin-top: 1rem;
        font-size: 12px;
    }
}
  


/*Inicia Carrusel*/

.carrusel::-webkit-scrollbar{
    display: none;     
}

.contenedor-titulo-controles {
	display: flex;
	justify-content: center;	
}

.contenedor-titulo-controles .indicadores button {
	background: $gris-oscuro;
	height: 2px;
	width: 10px;
	cursor: pointer;
	border: none;
	margin-right: 5px;
}

.contenedor-titulo-controles .indicadores button:hover,
.contenedor-titulo-controles .indicadores button.activo {
	background: $rosa-oscuro;
}

.imagenes-recomendadas{
    margin-bottom: 70px;
}

.imagenes-recomendadas .contenedor-principal {    
	display: flex;
	align-items: center;
	position: relative;  
}

.imagenes-recomendadas .contenedor-principal .flecha-izquierda,
.imagenes-recomendadas .contenedor-principal .flecha-derecha {	
    
	border: none;
	background: none;
	font-size: 15px;
	height: 60%;
    margin-top: 80rem;
	top: calc(50% - 50%);
	line-height: 40px;
	width: 50px;
	color: $rosa-oscuro;
	cursor: pointer;
	z-index: 500;
	transition: .2s ease all;
    @media (max-width: 1026px){
    }

    @media (max-width: 980px){
        margin-top: 80rem;

    }
    
    @media (max-width: 850px){
    }


    
    @media (max-width: 768px){
        margin-top: 50rem;
    }
    
    
    @media (max-width: 480px){
        margin-top: 50rem;
    }
    
    @media (max-width: 300px){
        margin-top: 55rem;
    }
    

   
}

.imagenes-recomendadas .contenedor-principal .flecha-izquierda:hover,
.imagenes-recomendadas .contenedor-principal .flecha-derecha:hover {
	opacity: 0.7;
    color: $gris-oscuro;
}

.imagenes-recomendadas .contenedor-principal .flecha-izquierda {
	left: 0;
}

.imagenes-recomendadas .contenedor-principal .flecha-derecha {
	right: 0;
}

.imagenes-recomendadas .contenedor-carousel {
  
	width: 100vw;    
    overflow: hidden;	
	scroll-behavior: smooth;
    
}

.imagenes-recomendadas .contenedor-carousel .carouselNos {
	display: flex;
	flex-wrap: nowrap;
    margin-top: 80rem;
    height: 45rem;
    @media (max-width: 1026px){
        margin-top: 80rem;
        height: 26.7rem;
        width: 40rem;
    }

    @media (max-width: 980px){
        margin-top: 80rem;
        height: 33rem;
        width: 52rem;
    }
    
    @media (max-width: 850px){
        margin-top: 80rem;
        height: 31rem;
        width: 47.6rem
    }
    
    @media (max-width: 768px){
        margin-top: 60rem;
        height: 40rem;
        width: 60rem;
    }
    
    
    @media (max-width: 480px){
        margin-top: 48rem;
        height: 25rem;
        width: 40rem;
    }
    
    @media (max-width: 300px){
        margin-top: 48rem;
        height: 20rem;
        width: 30rem;
        
    }
}

.imagenes-recomendadas .contenedor-carousel .carouselNos .fortalezaNos {
     
    transition: .1s ease all;
	min-width: 50%;	
	box-shadow: 5px 5px 10px $gris-claro;
    opacity: 0.7;	
   
}

.imagenes-recomendadas .contenedor-carousel .carouselNos .fortalezaNos.hover {	
	transform-origin: center;
	opacity: 100%;
}

.imagenes-recomendadas .contenedor-carousel .carouselNos .fortalezaNos img {    
	width: 100%; 
    vertical-align: top;   
}

/*Finaliza Carrusel*/

/* Finish Contenido Nosotros */
