$blanco: #ffff;
$gris-oscuro: #8c8b8b;
$gris-claro: #F2EFEF;
$rosa-oscuro: #F5C1C5;
$rosa-claro: #F7EAEB;

$medidas:(
    xs: 150px,
    sm: 399px,
    md: 768px, //Hasta acá en tamaño movil
    lg: 1020px,
    xl: 1328px,
);