@import "variables" ,"mixins";
/* Start video */
.video-wrapper video {
    
    position: relative;
    z-index: -2;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(90deg);
    
    width: 40rem;
    margin-left: 25rem;
    margin-top: -16rem;

    @media (max-width: 1026px){
        width: 72vw;
        height: auto;
        margin-left: 20rem;
        margin-top: -12rem;
        width: 28rem;
    }

    @media (max-width: 850px){
        width: 50vw;
        height: auto;
        margin-left: 16rem;
        margin-top: -12rem;
    }

    @media (max-width: 768px){
        width: 71vw;
        height: auto;
        margin-left: 0;
        margin-top: -14rem;
    }

    @media (max-width: 480px){
        width: 73vw;
        height: auto;
        margin-left: 0;
        margin-top: -11rem;
    }

    @media (max-width: 300px){
        width: 71vw;
        height: auto;
        margin-left: 0;
        margin-top: -9rem;
    }
}



/* Finish video */